<mat-toolbar>
    <span class="material-icons">commute</span> &nbsp;
    <span><h1>Reciplas</h1> </span>
  
    <div style="flex: 1 1 auto"></div>
  
    <a routerLink="/home" mat-button>Inicio</a>
    <a routerLink="/producto" mat-button>Productos</a>
    <a routerLink="/materia-prima" mat-button>Materias Primas</a>
    <a routerLink="/tareas" mat-button>Pedidos</a>
    <a routerLink="/cliente" mat-button>Clientes</a>
    <a routerLink= "/proveedor" mat-button>Provedores</a>
  </mat-toolbar>
  <router-outlet></router-outlet>   